.taskCard-container {
  width: 95%;
  min-height: 77px;
  background-color: var(--task-card-background-color);
  margin: 9px;

  border-radius: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.5rem;
}

.taskContent {
  margin: 20px;
  max-width: 180px;
  word-break: break-all;
}

.taskActions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 33%;

  margin-right: 20px;
}

.completed {
  text-decoration: line-through;
  color: rgb(131, 131, 131);
}
