#taskContainer-container {
  width: 400px;
  height: 280px;
  background-color: var(--todoDisplay-background-color);

  border-radius: 20px;

  overflow: auto;

  color: var(--text-color);

  position: relative;
}

.delete-animation {
  animation-name: deleteAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes deleteAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
