@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--default-font);
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: var(--background-theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#themeToggle {
  position: absolute;
  top: 60px;
  right: 100px;
}
