@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --background-theme-color: #6fcf97;
  --todo-container-background-color: #f5f073;
  --text-color: black;
  --input-field-background: #faeab9;
  --todoDisplay-background-color: #f3f1bf;

  --default-font: "Poppins", sans-serif;

  --toggle-button-background-color: #c4c4c4;
  --toggle-button-stroke-color: #2d9cdb;

  --task-card-background-color: #f2e1b5;

  --delete-button-background-color: #ea637c;
  --cherkMark-button-background-color: #6ad394;

  --icon-color: white;

  --add-icon-color: rgb(243, 176, 51);

  --select-background-color: rgb(216, 187, 107);
}
